body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

ul {
    list-style-type: square;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}
