{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BidnessVille Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles_dash.css' %}">
</head>
<body>
    <!-- Navigation bar at the top with a line -->
    <div class="navbar">
        <div class="nav-buttons">
            <button id="home-btn">Home</button>
            <button id="mybtn">Make Your Business Grow</button>
            <a href="{% url 'register_business' %}"><button id="invest-btn">Register</button></a>
            <a href="{% url 'business_overview' business_id=1 %}"><button id="mybusiness-btn">View Business</button></a>
            
        </div>
    </div>
    
    <!-- Main content -->
    <div class="dashboard">
        <h1>Empowering Small Businesses</h1>
        <h1>Welcome to BidnessVille</h1>
        
        <!-- Main buttons in the center -->
        <div class="main-button-container">
            <a href="{% url 'view_registrations' %}"><button id="register-btn">Invest in Small Business</button></a>
            <button id="find-investment-btn">Find Investment</button>
        </div>
    </div>

</body>
</html>
